= link_to group_messages_path(group.id) do
  .sidebar__bottom_sidebar__group
    %p.sidebar__bottom_sidebar__group__group_name
      = group.name
    %p.sidebar__bottom_sidebar__group__new_message
      - if group.messages.empty?
        まだメッセージはありません。
      - elsif group.messages.last.image.present?
        画像が投稿されています。
      - else
        = group.messages.last.body
