%ul.main__chat_area__chat_cotent
  %li.main__chat_area__chat_content__name
    = message.user.name
  %li.main__chat_area__chat_content__date
    = message.created_at
  %li.main__chat_area__chat_content__text
    - if message.body
      = message.body
  %li.main__chat_area__chat_content__image
    - if message.image
      = image_tag message.image
