/ .message チャットグループが作成されました。

.sidebar
  .sidebar__upper_sidebar
    %p.sidebar__upper_sidebar__item
      = current_user.name
    = link_to edit_user_path(current_user.id) do
      %i.sidebar__upper_sidebar__item__icon.fa.fa-edit
    %i.sidebar__upper_sidebar__item__icon.fa.fa-cog
  .sidebar__bottom_sidebar
    .sidebar__bottom_sidebar__group
      %p.sidebar__bottom_sidebar__group__group_name Group 1
      %p.sidebar__bottom_sidebar__group__new_message New message 1
    .sidebar__bottom_sidebar__group
      %p.sidebar__bottom_sidebar__group__group_name Group 2
      %p.sidebar__bottom_sidebar__group__new_message New message 2

.main
  .main__group_info
    %p.main__group_info__edit_button.button Edit
    %p.main__group_info__name Sample Group 1
    %p.main__group_info__members Members: member1 menber2
  .main__chat_area
    .main__chat_area__chat_cotent
      %p.main__chat_area__chat_content__name Member 1
      %p.main__chat_area__chat_content__date 2017/05/31
      %p.main__chat_area__chat_content__text This is sample text. This is sample text. This is sample text.
    .main__chat_area__chat_cotent
      %p.main__chat_area__chat_content__name Member 2
      %p.main__chat_area__chat_content__date 2017/06/01
      %p.main__chat_area__chat_content__text Finaly I finished!
  .main__posting_area
    .main__posting_area__form Type a message
    %i.main__posting_area__icon.fa.fa-file-image-o
    .main__posting_area__button.button Send

