%div{class: "header"}
  %div{class: "header__notice--display-block"} チャットグループが作成されました。
  %div{class: "header__left-content"}
    %p{class: "header__left-content__user-name"}
    %span.header__left-content__user-name__name User Name
    %span.header__left-content__user-name.fa.fa-edit
    %span.header__left-content__user-name.fa.fa-cog
  %div{class: "header__right-content"}
    %p{class: "header__right-content__group-title"}  Sample グループ
  %p{class: "header__right-content__group-members"}  Members: Nakano MItsuhiro
%div{class: "contents"}
  %div{class: "contents__left-contens"}
    %div{class: "contents__left-contens__group"}
      %p{class: "contents__left-contens__group__group-name"} Group 1
      %p{class: "contents__left-contens__group__new-message"} できる！
      %p{class: "contents__left-contens__group__group-name"} Group 2
      %p{class: "contents__left-contens__group__new-message"} できるよ！
  %div{class: "contents__right-contens"}
    %div{class: "contents__right-contens__message"}
      %div{class: "contents__right-contens__message__message-upper"}
        %p{class: "contents__right-contens__message__message-upper__user-name"} Nakano Mitsuhiro
        %p{class: "contents__right-contens__message__message-upper__post-date"} 2017/05/31 16:00
      %div{class: "contents__right-contens__message__message-bottom"}
        %p{class: "contents__right-contens__message__message-bottom-text"} できる！
    %div{class: "contents__right-contens__message"}
      %div{class: "contents__right-contens__message__message-upper"}
        %p{class: "contents__right-contens__message__message-upper__user-name"} Nakano Mitsuhiro
        %p{class: "contents__right-contens__message__message-upper__post-date"} 2017/05/31 16:00
      %div{class: "contents__right-contens__message__message-bottom"}
        %p{class: "contents__right-contens__message__message-bottom-text"} できる！
    %div{class: "contents__right-contens__message"}
      %div{class: "contents__right-contens__message__message-upper"}
        %p{class: "contents__right-contens__message__message-upper__user-name"} Nakano Mitsuhiro
        %p{class: "contents__right-contens__message__message-upper__post-date"} 2017/05/31 16:00
      %div{class: "contents__right-contens__message__message-bottom"}
        %p{class: "contents__right-contens__message__message-bottom-text"} できる！
    %div{class: "contents__right-contens__form"}
    %div{class: "contents__right-contens__form__input", placeholder: "type a message"}
    %span.fa.fa-file-picture-o
    %div{class: "contents__right-contens__form__button"} send