// ----------------変数定義----------------------
//variables for color----------------------------
$white              : #FFFFFF;
$success_notice     : #38AEF0;
$user_info_color    : #253141;
$sidebar_color      : #2f3e51;
$chatarea_color     : #F9F9F9;
$chatspace_blue     : #38aef0;
$error_red          : #d65f4c;

//variables for size----------------------------
$sidebar_height           : 100vh;
$sidebar_width            : 300px;
$sidebar_top_height       : 95px ;
$side_bar_side_padding_sum: 40px ;
$main_height              : 100vh;
$main_width               : calc(100% - 300px);
$chat_area_height         : calc(100% - 235px);
$posting_area_height      : 90px;
//----------------------------------------------
