.message{
  background-color : $success_notice;
  text-align       : center;
  color            : $white;
  position         : fixed;
  height           : 25px ;
  width            : 100vw;
  z-index          : 15   ;

  &__notice{
    background-color : $success_notice;
  }
  &__alert{
    background-color : $error_red;
  }
}
