.sidebar{
  width           : $sidebar_width;
  height          : $sidebar_height;
  color           : $white;
  float           : left;
  background-color: $sidebar_color;
  overflow: scroll;


  &__upper_sidebar{
    background-color : $user_info_color;
    @include upper_sidebar_padding;
    @include clearfix;
    width           : $sidebar_width - $side_bar_side_padding_sum;
    position: fixed;
    z-index: 10;

    &__item{
      font-size: 16px;
      color    : $white;
      float    : left;

      &__icon{
        padding: 5px;
        float  : right;
        color  : $white;
      }
    }
  }

  &__bottom_sidebar{
    padding-top  : 20px;
    @include sidebar_padding;

    &__group{

      &__group_name{
        font-size: 15px;
        color    : $white;
      }

      &__new_message{
        margin-top   : 5px;
        margin-bottom: 40px;
        font-size    : 11px;
        color        : $white;
      }
    }
  }
}

.main{
  height: $main_height;
  width : calc(100vw - 300px);
  float :left;

  &__group_info{
    padding-left   : 40px;
    padding-right  : 40px;
    @include border;

    &__name{
      padding-top: 35px;
      font-size  : 20px;
      color      : #333333;
    }

    &__members{
      padding-top: 15px;
      font-size  : 12px;
      color      : #999999;
    }

    &__edit_button{
      font-size   : 14px;
      color        : #38AEF0;
      line-height  : 40px;
      margin-top   : 28px;
      padding-left : 20px;
      padding-right: 20px;
      border       :  2px solid #38AEF0;
      float        : right;
    }
  }

  &__chat_area{
    height          : $chat_area_height;
    padding-top     : 46px;
    padding-left    : 40px;
    padding-right   : 40px;
    background-color: $chatarea_color;

    &__chat_content{

      &__name{
        font-size  : 16px;
        font-weight: bold;
        float      :left;
      }

      &__date{
        margin-left: 10px;
        padding-top: 4px;
        font-size  : 12px;
        color      : #999999;
        line-height: 16px;
        float      :left;
      }

      &__text{
        padding-top   : 10px;
        padding-bottom: 40px;
        font-size     : 14px;
        color         : #434A54;
        clear         : both;
      }
    }
  }

  &__posting_area{
    height            : $posting_area_height;
    background-color  : red;
    padding-left      : 40px;
    padding-right     : 40px;
    background-color  : #D5D5D5;

    &__form{
      width           : calc( 100% - 140px );
      margin          : 20px 0px;
      padding-left    : 10px;
      padding-right   : 10px;
      background-color: $white;
      line-height     : 50px;
      font-size       : 16px;
      color           : #626262;
      float           : left;
    }

    &__icon{
      line-height: 50px;
      font-size  : 16px;
      margin     : 20px 0px;
      position   : relative;
      right      : 30px;
      float      : left;
    }

    &__button{
      margin          : 20px 0px 20px 15px;
      padding-left    : 25px;
      padding-right   : 25px;
      background-color: #299BEF;
      line-height     : 50px;
      color           : $white;
      float           : right;
    }
  }
}
