@import "./reset";

/*font_awesome*/
@import "font-awesome";

@mixin clearfix{
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin border($color:#666) {
  border-bottom: 1px solid $color;
}

.message{
  background-color: #38AEF0;
  text-align: center;
  color: #ffffff;
  @include clearfix;
}
.sidebar{
  width: 300px;
  height: calc(100vh - 12px);
  color: #FFFFFF;
  background-color: #2f3e51;
  float: left;

  &__upper_sidebar{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #253141;
    @include clearfix;
    padding-left: 20px;
    padding-right: 20px;


    &__item{
      font-size: 16px;
      color: #FFFFFF;
      float :left;

      &__icon{
        padding: 5px;
        float: right;
      }
    }
  }

  &__bottom_sidebar{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &__group{
      // margin-bottom: 40px;
      &__group_name{
        font-size: 15px;
        color: #FFFFFF;
      }
      &__new_message{
        margin-top: 5px;
        font-size: 11px;
        color: #FFFFFF;
        margin-bottom: 40px;
      }
    }
  }
}

.main{
  height: calc(100vh - 12px);
  width: calc(100vw - 300px);
  float:left;

  &__group_info{
    width: calc(100% -300px);
    padding-left: 40px;
    padding-right: 40px;
    @include border;
    font-size: 20px;

    &__name{
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &__members{
      padding-top: 15px;
      font-size: 12px;
      color: #999999;
    }
    &__edit_button{
      font-size: 14px;
      color: #38AEF0;
      line-height: 40px;
      margin-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      border:  2px solid #38AEF0;
      float: right;
    }
  }

  &__chat_area{
    height       : 65% ;
    padding-top  : 46px;
    padding-left : 40px;
    padding-right: 40px;
    background-color: #F9F9F9;

    &__chat_content{

      &__name{
        font-size: 16px;
        font-weight: bold;
        float :left;
      }
      &__date{
        margin-left: 10px;
        padding-top: 4px;
        font-size: 12px;
        color: #999999;
        line-height: 16px;
        float :left;
      }
      &__text{
        clear: both;
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__posting_area{
    height: 15% ;
    background-color: red;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #D5D5D5;

    &__form{
      width  : calc( 100% - 140px );
      margin : 20px 0px;
      padding-left : 10px;
      padding-right: 10px;
      background-color: #FFFFFF;
      line-height : 50px;
      font-size: 16px;
      color: #626262;
      float: left;
    }
    &__icon{
      line-height: 50px;
      font-size: 16px;
      float: left;
      margin : 20px 0px;
      padding: 0px;
      position: relative;
      right: 30px;
    }
    &__button{
      margin: 20px 0px 20px 15px;
      padding-left : 20px;
      padding-right: 20px;
      background-color: #299BEF;
      line-height: 50px;
      color: #FFFFFF;
      float: right;
    }
  }
}