@mixin clearfix{
  &:after {
    content : '';
    display : block;
    clear   : both;
  }
}

//------------index----------------------
@mixin border($color:#EAEAEA) {
  border-bottom   : 1px solid $color;
}


@mixin sidebar_padding {
    padding-left  : 20px;
    padding-right : 20px;
}

@mixin upper_sidebar_padding {
    padding-top   : 40px;
    padding-bottom: 40px;
    padding-left  : 20px;
    padding-right : 20px;
}

@mixin fixed_position {
    position: fixed;
    z-index : 10;
}
