= link_to group_messages_path(groups.id) do
  .sidebar__bottom_sidebar__group
    %p.sidebar__bottom_sidebar__group__group_name
      = groups.name
    %p.sidebar__bottom_sidebar__group__new_message
      - if groups.messages.empty?
        まだメッセージはありません。
      - elsif groups.messages.last.image.present?
        画像が投稿されています。
      - else
        = groups.messages.last.body
