%p.sidebar__upper_sidebar__item
  = current_user.name
= link_to edit_user_path(current_user.id) do
  %i.sidebar__upper_sidebar__item__icon.fa.fa-cog
= link_to new_group_path do
  %i.sidebar__upper_sidebar__item__icon.fa.fa-edit
